<section id="about">
  <div class="section-content">
    <div class="container">
      <div class="col-md-6">
        <div class="about-text">
          <h3>About me</h3>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi quae cum ipsam eum distinctio voluptatibus accusamus quam officiis           nam. Sed, saepe, omnis. Eum voluptas architecto, quibusdam magni voluptate non suscipit.</p>
          <h5>Follow me on the web</h5>
          <a href="https://www.linkedin.com/in/warnernielsen/" class="btn btn-sm btn-outline-secondary" target="_blank">linkedin</a>
          <a href="https://github.com/warniel08" class="btn btn-sm btn-outline-secondary" target="_blank">github</a>
          <a href="https://twitter.com/WarnerNielsen" class="btn btn-sm btn-outline-secondary" target="_blank">twitter</a>
        </div>
      </div>
    </div>
  </div>
</section>