<section id="about">
  <div class="section-content">
    <div class="container">
      <div class="col-md-6">
        <div class="about-text">
          <h3>About me</h3>
          <hr>
          <p class="lead">I have experience working in team environments while learning web development using Ruby on Rails, Ruby, JavaScript, PostgreSQL, Git, Agile Workflow, RSPEC, Jasmine, etc.</p>
          <p>My attention to detail and organizational skills garnered while working in the finance industry have helped me to drive myself to learn web development and thrive in a team environment. I have a strong desire to continue to learn new programming languages and improve my current knowledge on the skills mentioned previously.</p>
          <h5>Follow me on the web</h5>
          <a href="https://www.linkedin.com/in/warnernielsen/" class="btn btn-sm btn-outline-secondary" target="_blank">linkedin</a>
          <a href="https://github.com/warniel08" class="btn btn-sm btn-outline-secondary" target="_blank">github</a>
          <a href="https://twitter.com/WarnerNielsen" class="btn btn-sm btn-outline-secondary" target="_blank">twitter</a>
        </div>
      </div>
    </div>
  </div>
</section>