<div class="col-sm-6" id="contact">
	<h2 id="contact-title">Contact Me</h2>
	<hr>
	<div class="col-sm-12 text-center">
		<div class="card card-block contact-card-card">
	    <p class="contact-card-text"><i class="fa fa-envelope-open-o" aria-hidden="true"></i> <strong>Email:</strong> bwn888@gmail.com</p>	 
		</div>
	</div>
	<div class="col-sm-12 text-center">
		<div class="card card-block contact-card-card">
	    <p class="contact-card-text"><i class="fa fa-linkedin-square" aria-hidden="true"></i> <strong>LinkedIn:</strong> http://linkedin.com/in/warnernielsen</p>
		</div>
	</div>
	<div class="col-sm-12 text-center">
		<div class="card card-block contact-card-card">
	    <p class="contact-card-text"><i class="fa fa-github" aria-hidden="true"></i> <strong>GitHub:</strong> http://github.com/warniel08</p>
		</div>
	</div>
</div>
