<div class="col-sm-6" id="contact">
	<h2 id="contact-title">Contact Me</h2>
	<hr>
	<div class="col-sm-12 text-center">
		<a class="contact-link" href="mailto:bwn888@gmail.com" target="_blank">
			<div class="card card-block contact-card-card">
	    	<p class="contact-card-text"><i class="fa fa-envelope-open-o" aria-hidden="true"></i> <strong>Email:</strong> bwn888@gmail.com</p>	 
			</div>
		</a>
		<a class="contact-link" href="https://linkedin.com/in/warnernielsen" target="_blank">
			<div class="card card-block contact-card-card">
		    <p class="contact-card-text"><i class="fa fa-linkedin-square" aria-hidden="true"></i> <strong>LinkedIn:</strong> https://linkedin.com/in/warnernielsen</p>
			</div>
		</a>
		<a class="contact-link" href="https://github.com/warniel08" target="_blank">
			<div class="card card-block contact-card-card">
		    <p class="contact-card-text"><i class="fa fa-github" aria-hidden="true"></i> <strong>GitHub:</strong> https://github.com/warniel08</p>
			</div>
		</a>
	</div>
</div>
