<section id="cover">
        <div id="cover-caption">
            <div class="container">
                <div class="col-sm-10 offset-sm-1">
                    <h1 class="display-3">My Profile</h1>
                    <p>Just like the old Bootstrap, but better. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel atque suscipit esse, deserunt, fuga at quasi eos perspiciatis, fugit aliquid ducimus earum sit quae.</p>
                            
                    <a href="#nav-main" class="btn btn-outline-secondary btn-sm" role="button">&darr;</a>
                    
                </div>
            </div>
        </div>
    </section>