<section id="cover">
    <div id="cover-caption">
        <div class="container">
            <div class="col-sm-10 offset-sm-1">
                <h1 class="display-3">Warner Nielsen</h1>
                <p>Navigate through my site to learn more about me and my web development projects.</p>
                <a href="#nav-main" class="btn btn-outline-secondary btn-sm" role="button">&darr;</a>
            </div>
        </div>
    </div>
</section>