<section id="projects">
        <div class="section-content">
            <div class="container">
                <h2>My Projects</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos fuga excepturi voluptatem aperiam ipsum, non odit dicta omnis beatae aliquam provident ipsa a, pariatur odio obcaecati! Eligendi nam dolor, accusantium.</p>
            
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-group">
                            <div class="card project-card">
                                <div class="p-3">
                                    <h4 class="card-title">BretFlix</h4>
                                    <h6 class="card-subtitle">Movie inventory app</h6>
                                </div>
                                <img src="https://s3-us-west-2.amazonaws.com/warner-profile-app/images/rsz_bretflix_logo.png" alt="bretflix_logo">
                                <div class="card-block">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <a class="btn btn-outline-secondary btn-project" href="https://bretflixcheckout.herokuapp.com/" target="_blank">go there</a>
                                </div>
                            </div>
                            <div class="card project-card">
                                <div class="p-3">
                                    <h4 class="card-title">Robot Inventory</h4>
                                    <h6 class="card-subtitle">Robot inventory app</h6>
                                </div>
                                <img src="https://s3-us-west-2.amazonaws.com/warner-profile-app/images/rsz_robot.png" class="img-center" alt="robot_icon">
                                <div class="card-block">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi velit minus rem aliquam nam consequuntur odio eaque vero tempore, quod incidunt modi aliquid eligendi numquam deleniti, ipsam esse quas. Velit?</p>
                                    <a class="btn btn-outline-secondary btn-project" href="https://robot-army-uh-i-mean-catalog.herokuapp.com/" target="_blank">go there</a>
                                </div>
                            </div>
                            <div class="card project-card">
                                <div class="p-3">
                                    <h4 class="card-title">Scramble</h4>
                                    <h6 class="card-subtitle">Backcountry planning app</h6>
                                </div>
                                <img src="https://s3-us-west-2.amazonaws.com/warner-profile-app/images/rsz_scramble_sample.png" alt="scramble_sample_screenshot">
                                <div class="card-block">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi velit minus rem aliquam nam consequuntur odio eaque vero tempore.</p>
                                    <a class="btn btn-outline-secondary btn-project" href="https://scramble-up.herokuapp.com/" target="_blank">go there</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>