<section id="projects">
  <div class="section-content" id="proj-content">
    <div class="container">
      <h2>My Projects</h2>
      <hr id="projects-hr">
      <p class="lead">Here are the most recent projects that I have helped develop. I will continue to add more projects as they become available.</p>
    
      <div class="row">
        <div class="col-sm-12">
          <div class="card-group">
            <div class="card project-card card-inverse">
              <div class="p-3">
                <h4 class="card-title">BretFlix</h4>
                <h6 class="card-subtitle">Movie inventory app - Team built</h6>
              </div>
              <img src="https://s3-us-west-2.amazonaws.com/warner-profile-app/images/rsz_bretflix_logo.png" alt="bretflix_logo">
              <div class="card-block">
                  <p class="card-text">DVD checkout app with a list of over 1200 movie titles</p>
                  <p class="card-text small"> - Developed with: Ruby, Ruby on Rails, Devise, OMDb API, Heroku</p>
                  <a class="btn btn-outline-success btn-project" href="https://bretflixcheckout.herokuapp.com/" target="_blank">go there</a>
              </div>
            </div>
            <div class="card project-card card-inverse">
              <div class="p-3">
                <h4 class="card-title">Robot Inventory</h4>
                <h6 class="card-subtitle">Robot inventory app - Team built</h6>
              </div>
              <img src="https://s3-us-west-2.amazonaws.com/warner-profile-app/images/rsz_robot.png" alt="robot_icon">
              <div class="card-block">
                <p class="card-text">Mock client project with an admin that creates and manages inventory
                <p class="card-text">Users allowed to purchase robots from inventory</p>
                <p class="card-text">Implements real credit card payment accepting software</p>
                <p class="card-text small"> - Developed with: Ruby, Ruby on Rails, Devise, Stripe, Heroku</p>
                <a class="btn btn-outline-success btn-project" href="https://robot-army-uh-i-mean-catalog.herokuapp.com/" target="_blank">go there</a>
              </div>
            </div>
            <div class="card project-card card-inverse">
              <div class="p-3">
                <h4 class="card-title">Scramble</h4>
                <h6 class="card-subtitle">Backcountry planning app - Team built</h6>
              </div>
              <img src="https://s3-us-west-2.amazonaws.com/warner-profile-app/images/rsz_scramble_sample.png" alt="scramble_sample_screenshot">
              <div class="card-block">
                <p class="card-text">Backcountry hike planning app</p>
                <p class="card-text">Users allowed to create own hike with real-time elevation graph changes</p>
                <p class="card-text">Users can rate and favorite hikes created by other users</p>
                <p class="card-text small"> - Developed with: Ruby, Ruby on Rails, JavaScript, GoogleMaps APIs, Devise, Paperclip, AWS, Heroku</p>
                <a class="btn btn-outline-success btn-project" href="https://scramble-up.herokuapp.com/" target="_blank">go there</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>