<section id="projects">
        <div class="section-content">
            <div class="container">
                <h2>My Projects</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos fuga excepturi voluptatem aperiam ipsum, non odit dicta omnis beatae aliquam provident ipsa a, pariatur odio obcaecati! Eligendi nam dolor, accusantium.</p>
            
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card-group">
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">BretFlix</h4>
                                    <h6 class="card-subtitle">Inventory organizer app</h6>
                                </div>
                                <img src="https://s3-us-west-2.amazonaws.com/warner-profile-app/images/bretflix_screenshot.png" alt="bretflix_app_screenshot">
                                <div class="card-block">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModal">learn more</button>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Robot Inventory</h4>
                                    <h6 class="card-subtitle">Awesome creative and design stuff</h6>
                                </div>
                                <img src="https://s3-us-west-2.amazonaws.com/warner-profile-app/images/robot_catalog_screenshot.png" alt="robot_inventory_app_screenshot">
                                <div class="card-block">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi velit minus rem aliquam nam consequuntur odio eaque vero tempore, quod incidunt modi aliquid eligendi numquam deleniti, ipsam esse quas. Velit?</p>
                                    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModal">learn more</button>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-block">
                                    <h4 class="card-title">Scramble</h4>
                                    <h6 class="card-subtitle">Cool programming and technical stuff</h6>
                                </div>
                                <img src="https://s3-us-west-2.amazonaws.com/warner-profile-app/images/scramble_screenshot.png" alt="scramble_app_screenshot">
                                <div class="card-block">
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi velit minus rem aliquam nam consequuntur odio eaque vero tempore.</p>
                                    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModal">learn more</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>